{% extends "layout.html" %}
{% block content %}
    <div class="card-mb-4">
        <h2 class="mt-4">{{post.title}}</h2>
        <p class="lead">
            by
            <a href="#">{{post.author.username}}</a>
        </p>
        <hr>
        <p>
            Posted on {{post.date_posted.strftime("%Y-%m-%d") }} 
        </p>
        <hr>
        <div class="card-mb-4">
            <img class="card-img" height="auto" max-width="100%" src="{{url_for('static',filename='post_pics/'+ post.post_image)}}" alt="post image">
        </div>
        <hr>
        <p clss="lead">
            {{post.subtitle}}
        </p>
        <p>
            {{post.content}}
        </p>
        <hr>
        <div>
            <a href="{{url_for('main.home')}}" role="Button" aria-diabled="True" class="btn btn-outline-primary">Go Back</a>
         </div>
    </div>
{% endblock %} 
{% block sidebarcontent %}
    <dvi class="card mb-4">
        {% endblock %}    
    </dvi>
