{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <div>
            <legend class="border-bottom mb-4">To-Do List</legend>
            <a href="{{url_for('tasks.new_task')}}" class="btn btn-primary btn-md active border border-white" role="button" aria-pressed="true" style="background-color:#66acff">Create A New Task</a>
        </div>
        <br>
            <!----display all the task-->
        <table class="table table-borderless mb-4 table-sm" style="max-width: 750px;">
            <thead>
                <tr>
                <th scope="col"></th>
                <th scope="col">Task</th>
                </tr>
            </thead>
            <tbody>
                {% for incomplete_task in incomplete_tasks.items %}
                <tr>
                <th scope="row">
                    <a href="{{url_for('tasks.complete', task_id=incomplete_task.id)}}" role="Button" aria-diabled="True" class="btn btn-primary btn-small" style="background-color: #66acff"> Complete</a>
                </th>
                <td>
                    <a class="text-dark" href="{{url_for('tasks.your_task_content',task_id=incomplete_task.id)}}">{{ incomplete_task.item }} due on {{ incomplete_task.end_date}}</a> 
                </td>
                </tr>
                {% endfor %}  
            </tbody>
        </table>           
    </div>
{% endblock %}
    {% block sidebarcontent %}
    <dvi class="card mb-4">
        <h5 class="card-header">My Achievements</h5>
        <div class="card-body">
            {% for completed_task in completed_tasks.items %}  
                <p>
                <a href="{{url_for('tasks.your_task_content', task_id=completed_task.id )}}" class="list-group-item  list-group-item-action list-group-item-light"> Awersome! I <span class="text-lowercase">
                got {{ completed_task.item}}  done on {{ completed_task.actual_completion_date}} </span></a>
                <p>
            {% endfor %}   
        </div>
        {% endblock %}    
    </dvi>
